/node_modules
/public/build
/public/hot
/public/storage
/public/video/tkds.mp4
/public/video/tkds.old.mp4
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
d111539sd504701.sql
