html {
    scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}

.card {
  color: black;
  margin-right: 2rem;
  border-radius: 17px;
  height: 100%;
  transition: all 0.2s ease;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.1);
}

[class*="col-"] {
  margin-bottom: 30px;
}

.card-img-top {
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  width: 337px;
  height: 420px;
}

.card-body-carusel {
  height: 125px;
  width: auto;
}

p.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

ul {
    list-style-type: none;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}




.item {
  padding-top: 15px;
  padding-bottom: 15px;
}


.glider-carousel-link:hover {
  text-decoration: none;
}

.modal-content {
  color: black;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}


.table th,
.table td {
    white-space: nowrap;
}

p.lead {
    display: flex;
    align-items: center;
    justify-content: center;

}

@media (max-width: 767.98px) {
    .display-3 {
        font-size: 3.5rem;
    }
}
